body{
  display: flex;
  margin: 0;
  background-color: #f9fafb;
}
.logo{
  background-image: url("./image/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  height: 114vh;
  width: 80vw;
}
p{
  font-weight: bold;
}
label{
  display: block;
  width: 20rem;
  padding-bottom: .2rem;
  font-weight: bold;
}
.form{
  display: flex;
  column-gap: 5rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  color: #1f2937;
  padding-bottom: 30px;
  padding-left: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 6px #dadadb;
}
input{
  border: 0.5px solid #e5e7eb;
  border-radius: 3px
}
input:focus-visible{
  border-color: #5b7ee0;
  outline: none;
  box-shadow: .05rem .05rem .2rem gray;
}
input:invalid, .error{
  border: 0.5px solid #b91c1c;
}
span{
  display: block;
  color: #b91c1c;
}
.error + .password::after{
  content: '* Passwords do not match';
}
input:invalid + .mail::after{
  content: '* Enter a valid email';
}
button{
  background-color: #596d48;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}
a{
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}